
<div *ngIf="!(geolocationService.coords$ | async)">
    <button (click)="geolocationService.requestGeolocation()">
        Activar mi ubicación
    </button>
    <p class="parrafo">Activa tu ubicacion para recibir los datos del clima para tu ciudad</p>
</div>