@import '../../colors'

button
    background-color: $accent
    padding: 10px 15px
    outline: none
    cursor: pointer
    border: 0
    color: $light
    border-radius: 4px
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
    font-size: 1em
    &:active
        opacity: 0.8
p
    opacity: 0.56
    font-size: 1em