<div [@loading]="elements.length" *ngIf="!(currentService.weather$ | async)" >
    <h1>CARGANDO..</h1>
    <div *ngFor="let color of elements" class="circle" [ngStyle]="{'background-color': color}">

    </div>
</div>